/* You can add global styles to this file, and also import other style files */
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f5ebdc;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}
h2{
    text-align: center;
    text-transform: uppercase;
}